# Remove the .template suffix and update the values to use this file.

# Database configuration.
# Database is only used for debugging issues locally. Set these values to anything you would like.
DB_PASSWORD=
DB_NAME=
DB_USER=